*
{
    font-family: Arial;
}

.site-navbar-list
{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    background: rgb(61, 61, 61);
    flex-direction: row;
    flex-flow: row wrap;
    border: 2px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
}

.site-navbar-link
{
    font-size: 16px;
    display: block;
    text-decoration: none;
    background: rgb(61, 61, 61);
    color: white;
    padding: 10px;
}

.site-navbar-link:hover
{
    background: rgb(49, 49, 49);
    cursor: hand;
}

.index-schedule
{
    width: 100%; 
    height: 100%;
    max-width: 900px;
    max-height: 500px; 
    font-size: 18px; 
    text-align: center;
}

.index-schedule, th, td
{
    border: 2px solid gray;
    border-collapse: collapse;
}

.site-header
{
    text-align: center;
}

.last-col
{
    display: visible;
}

@media only screen and (max-width: 600px) 
{
    .site-navbar-list
    {
        flex-flow: column wrap;
    }

    .index-schedule
    {
        width: 100%; 
        height: 100%; 
        font-size: 16px;
        text-align: center;
        padding: 0;
        word-wrap: break-word; 
    }

    .last-col
    {
        display: none;
    }
}